.new-cotainer {
    .new-content {
        width: 95%;
        margin: 0 30px 0 34px;
        position: sticky;
        top: 125px;
        .onhold-new-table {
            // margin: 0px 40px;
            .ant-table {
                background: none !important;
                // overflow-y: auto;
                // height: 500px;
            }

            .ant-table-tbody{
                .completedRow{
                    border:1px solid #57BB79;
                    td{
                        background: #DDF1E4;
                    }
                }
                .updatedRow{
                    border:1px solid #A8CAD1;
                    td{
                        background: #F1FBFD;
                    }
                }
                .yettostartRow{
                    border:1px solid #E3E2E3;
                    td{
                        background: #FEFFDA;
                    }
                }
            }

            .ant-table table{
                border-spacing: 0px 5px !important;
                border-collapse: separate;
            }

            .ant-table-tbody>tr>td {
                //background: rgba(0, 129, 157, 0.1) !important;
                padding: 10px 10px;
                // background: #FCFCFC;
                border: none !important;
                // border-top: 1px solid #EBEBEB !important;
                // border-bottom: 1px solid #EBEBEB !important;
                box-shadow: 1px 1px 1px #DADADA;
            }

            .ant-table-tbody>tr>td:first-child {
                border-left: 1px solid #EBEBEB !important;
            }

            .ant-table-tbody>tr>td:last-child {
                border-right: 1px solid #EBEBEB !important;
            }

            .ant-table-container table>thead>tr:first-child th:first-child {
                border-top-left-radius: 6px !important;
                border-left: 1px solid #E9E9E9 !important;
                border-bottom-left-radius: 6px !important;
            }

            .ant-table-container table>thead>tr:first-child th:last-child {
                border-top-right-radius: 6px !important;
                border-right: 1px solid #E9E9E9 !important;
                border-bottom-right-radius: 6px !important;
            }

            .ant-table-tbody>tr>td:first-child {
                border-top-left-radius: 6px !important;
                border-bottom-left-radius: 6px !important;
            }
            .ant-table-thead>tr>td:first-child {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
              }

            .ant-table-tbody>tr>td:last-child {
                border-top-right-radius: 6px !important;
                border-bottom-right-radius: 6px !important;
            }

            .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>thead>tr>th {
                font-size: 14px;
                color: var(--app-black);
                font-family: 'Roboto-Regular';
            }

            .ant-table.ant-table-bordered>.ant-table-container>.ant-table-content>table>tbody>tr>td {
                border-right: 0px !important;
                font-size: 14px;
                color: var(--app-black);
                font-family: 'Roboto-Medium';
            }

            .ant-table.ant-table-bordered>.ant-table-container {
                border-left: 0px !important;
            }

            // .ant-table-tbody>tr.ant-table-row:hover>td,
            // .ant-table-tbody>tr>td.ant-table-cell-row-hover {
            //     background: #FCFCFC !important;
            // }

            .ant-table-thead>tr>th {
                background: #022E3A !important;
                padding: 10px 10px !important;
                color: white !important;
            }

            .ant-table-thead {
                .ant-table-cell {
                    background: #3F5462 !important;
                    border-left: 1px solid rgba(255, 255, 255, 0.34) !important;

                    .table-title-checkbox {
                        cursor: pointer;
                        width: fit-content !important;
                    }

                    img {
                        margin: 0px 10px;
                        cursor: pointer;
                    }

                    .table-title {
                        font-size: 14px;
                        font-family: "Roboto-Regular";
                        //font-weight: 400;
                        color: #FFFFFF;
                        white-space: nowrap;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .table-filter-data {
                        font-size: 14px;
                        font-family: "Roboto-Regular";
                        color: #FFFFFF;
                    }

                    .table-filter-input {
                        width: 80px;
                        height: 25px;
                        border: 1px solid #808E97;
                        border-radius: 2px;
                    }

                    .table-filter-input-width {
                        height: 25px;
                        border: 1px solid #808E97;
                        border-radius: 2px;
                    }

                    .table-filter-Select-width {
                        .ant-select-selector {
                            height: 25px;
                            border: 1px solid #808E97;
                            border-radius: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .common-default-button {
                        background: #FFFFFF;
                        box-shadow: 0px 1px 2px rgba(42, 59, 74, 0.2);
                        border-radius: 1.5px;
                        color: #257A8C;
                        border-color: none;
                        height: 25px;
                        margin: 9px 5px 0px 3px;
                    }

                    .cross-button {
                        background-color: #FFFFFF;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        border-radius: 1.5px;
                        margin: 0px 10px;
                        cursor: pointer;
                    }
                }

                .ant-table-cell removedColums {
                    border-left: 1px solid #7ABECC !important;
                }
            }

            // .ant-table-thead>tr>th:first-child {
            //     border-top-left-radius: 6px !important;
            //     border-bottom-left-radius: 6px !important;
            // }

            .ant-table-thead>tr>th:last-child {
                border-top-right-radius: 6px !important;
                border-bottom-right-radius: 6px !important;
            }

            .ant-table-tbody {
                .ant-table-cell {
                    .table-with-checkbox-data {
                        .table-checkbox-data {
                            cursor: pointer;
                            width: fit-content !important;
                        }

                        .table-data {
                            font-size: 14px;
                            font-family: "Roboto-Regular";
                            color: #262626;
                            margin: 0px 15px 0px 0px;
                            text-align: center;
                            
                        }
                        .table-data{
                            font-size: 14px;
                            font-family: "Roboto-Regular";
                            color: #262626;
                            margin: 0px 15px 0px 0px;
                        }
                    }
                    .table-data{
                        font-size: 14px;
                        font-family: "Roboto-Regular";
                        color: #262626;
                        margin: 0px 15px 0px 0px;
                    }
                    .table-data {
                        font-size: 14px;
                        font-family: "Roboto-Regular";
                        color: #262626;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        text-align: center;
                    }

                    .pick-button {
                        font-size: 14px;
                        font-family: "Roboto-Regular";
                        background: #257A8C;
                        border: none;
                        border-radius: 4px;
                        color: #FFFFFF;
                    }

                    .unpick-button {
                        font-size: 14px;
                        font-family: "Roboto-Regular";
                        background: #EDEDED;
                        border: none;
                        border-radius: 4px;
                        color: #FFFFFF;
                    }
                }

                .ant-table-cell:first-child::before {
                    position: absolute !important;
                    top: 50% !important;
                    inset-inline-end: 0 !important;
                    width: 1px !important;
                    height: 1.6em !important;
                    background: #8D8D8D !important;
                    transform: translateY(-50%) !important;
                    transition: background-color 0.3s !important;
                    content: "" !important;
                    display: none !important;
                }

                .ant-table-cell::before {
                    position: absolute !important;
                    top: 50% !important;
                    inset-inline-end: 0 !important;
                    width: 1px !important;
                    height: 1.6em !important;
                    background: #8D8D8D !important;
                    transform: translateY(-50%) !important;
                    transition: background-color 0.3s !important;
                    content: "" !important;
                }

                .ant-table-cell:last-child::before {
                    position: absolute !important;
                    top: 50% !important;
                    inset-inline-end: 0 !important;
                    width: 1px !important;
                    height: 1.6em !important;
                    background: white !important;
                    transform: translateY(-50%) !important;
                    transition: background-color 0.3s !important;
                    content: "" !important;
                }
            }
        }
        .table-data_immediate {
            font-size: 14px;
            font-family: "Roboto-Regular";
            color: #BA2121;
            text-align: center;
            // margin: 0px 15px 0px 0px;
        }

        .table-data {
            font-size: 14px;
            font-family: "Roboto-Regular";
            color: #262626;
            text-align: center;
        }

        // .ant-table-content::-webkit-scrollbar {
        //     display: none;
        // }
    }
}